:root{
    --text-color: #ffffff;
    --link-color: #4a76ee;
    --background-color: #000000;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

a{
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    height: 80px;
}

nav .left a{
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    font-size: 16px;
    margin: 0 10px;
}

nav .right a span{
    margin-left: 5px;
}

/* SECTION 1 : Hero */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 20px;
    color: var(--text-color);
}

.hero-section .text{
    padding: 0 30px;
    flex: 9;
}

.hero-section .text h2{
    font-size: 54px;
}

.hero-section .text h3{
    font-size: small;
}

.hero-section .headshot{
    display: flex;
    justify-content: right;
    margin-right: 30px;
    margin-bottom: 10px;
    flex: 3;
}

.hero-section .headshot img{
    width: 350px;
    border-radius: 50%;
}

@media (max-width: 890px){
    .hero-section{
        flex-direction: column-reverse;
        justify-content: center;
        margin-right: 0;
    }

    .hero-section {
        padding: 20px;
    }

    .hero-section .headshot{
        margin-right: 0;
    }

    .hero-section .headshot img{
        width: 300px;
    }
}

@media (max-width: 430px){
    .hero-section{
        padding: 3px;
    }

    .hero-section .text h2{
        font-size: 40px;
    }
}

@media (max-width: 700px){
    /* NAVBAR */
    nav{
        padding: 0 30px;
    }

    nav .right a{
        font-size: 20px;
    }

    nav .right a span{
        display: none;
    }

}

@media (max-width: 450px){
    nav{
        height: 50px;
        padding: 0 10px;
    }

    nav .left a{
        font-size: 18px;
    }

    nav .right a{
        font-size: 18px;
    }
}